<div id="field-set" class="user">
  <h3><span><%= t('titles.details', :model => User.human_name) %></span></h3>

  <p>
    <%= User.human_attribute_name(:email) %>
    <%= user.email %>
  </p>

  <p>
    <%= form.label :language, User.human_attribute_name(:language) %>
    <%= select_tag 'user[language]', options_for_select([["Español (Colombia)", "es-CO"], ["English", "en"]], user.language)%>
  </p>

  <p>
    <%= form.label :color, User.human_attribute_name(:color) %>

	<%= form.label :red, User.human_attribute_name(:red) %>
    <%= form.text_field :red %><br>
    
    <%= form.label :green, User.human_attribute_name(:green) %>
    <%= form.text_field :green %><br>
    
    <%= form.label :blue, User.human_attribute_name(:blue) %>
    <%= form.text_field :blue %>
  </p>

</div>