<div id="field-set" class="user">
  <h3><span><%= t('titles.details', :model => User.human_name) %></span></h3>

  <p>
    <%= User.human_attribute_name(:name) %>
    <%= user.name %>
  </p>

  <p>
    <%= User.human_attribute_name(:email) %>
    <%= user.email %>
  </p>

  <p>
    <%= form.label :language, User.human_attribute_name(:language) %>
    <%= select_tag 'user[language]', options_for_select([["Español (Colombia)", "es-CO"], ["English", "en"]], user.language)%>
  </p>

  <p>
    <%= form.label :color, User.human_attribute_name(:color) %>
	   <br>
		 <div id="color_holder"></div>
  </p>

</div>

<% content_for :javascript, javascript_include_tag("jquery-ui-1.7.2.custom.min") -%>
<% content_for :head, stylesheet_link_tag('jquery-ui-1.7.2.custom') %>
<% content_for :javascript, javascript_include_tag("color-picker") -%>

<% content_for :javascript do%>
<script type="text/javascript">
	ColorPicker.initialize(_('#color_holder'), { 
		 model:'user', 
		 red: '<%= User.human_attribute_name(:red) %>',
		 green: '<%= User.human_attribute_name(:green) %>',
		 blue: '<%= User.human_attribute_name(:blue) %>',
		 redValue: '<%= form.object.red %>',
		 greenValue: '<%= form.object.green %>',
		 blueValue: '<%= form.object.blue %>'
	 });
</script>
<% end %>