<%content_for :title, t('titles.editing', :model => Client.human_name) %>

<% form_for(@client, :html => {:id => 'styled-form'}) do |f| %>

  <%= render :partial => 'clients/form', :locals => {:form => f} %>

  <div class="clear"></div>

  <p id="submit">
    <%= f.submit t('forms.update'), :class => 'big-button' %>
    <%= link_to t('forms.cancel'), clients_path %>
  </p>

<% end %>
<%= link_to t('forms.show'), @client %> |
<%= link_to t('forms.back'), clients_path %>