<ul>
  <% @clients.each do |client| %>
    <li id="autocomplete_<%=client.id %>" i="<%=client.id_number%>" ln="<%=client.last_name%>" ad="<%=client.address%>" em="<%=client.email %>"><%= client.name %></li>
  <% end %>
</ul>