<% content_for :title, "Clients" %>

<table class="listing">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Email</th>
    </tr>

    <% @clients.each do |client| %>
      <tr class="<%= cycle('odd','even') %>">
        <td><%=h client.name %></td>
        <td><%=h client.last_name %></td>
        <td><%=h client.address %></td>
        <td><%=h client.email %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @clients %>