<%content_for :title, t('titles.new', :model => Client.human_name) %>

<% form_for(@client, :html => {:id => 'styled-form'}) do |f| %>
  <div id="field-set" class="client">
    <h3><span><%= t('titles.details', :model => Client.human_name) %></span></h3>

    <p>
      <%= f.label :id_number, Client.human_attribute_name(:id_number) %>
      <%= f.text_field :id_number %>
    </p>

    <p>
      <%= f.label :name, Client.human_attribute_name(:name) %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :last_name, Client.human_attribute_name(:last_name) %>
      <%= f.text_field :last_name %>
    </p>

    <p>
      <%= f.label :address, Client.human_attribute_name(:address) %>
      <%= f.text_field :address %>
    </p>
    
    <p>
      <%= f.label :email, Client.human_attribute_name(:email) %>
      <%= f.text_field :email %>
    </p>

  </div>

  <div class="clear"></div>

  <p id="submit">
    <%= f.submit t('forms.create'), :class => 'big-button' %>
    <%= link_to t('forms.cancel'), clients_path %>
  </p>

<% end %>

<%= link_to t('forms.back'), clients_path %>