<%content_for :title, t('client.showing') %>

<p>
  <b><%= Client.human_attribute_name(:id_number) %></b>
  <%=h @client.id_number %>
</p>

<p>
  <b><%= Client.human_attribute_name(:name) %></b>
  <%=h @client.name %>
</p>

<p>
  <b><%= Client.human_attribute_name(:last_name) %></b>
  <%=h @client.last_name %>
</p>

<p>
  <b><%= Client.human_attribute_name(:address) %></b>
  <%=h @client.address %>
</p>

<p>
  <b><%= Client.human_attribute_name(:email) %></b>
  <%=h @client.email %>
</p>


<%= link_to t('forms.edit'), edit_client_path(@client) %> |
<%= link_to t('forms.back'), clients_path %>