<div id="ingredients">

  <div id="ingredients_wrapper">
    <p><%= t('messages.click_ingredients_on_the_rigth_to_add')%> </p>
    <div class="clear"></div>

    <% hash_name = object_with_formulas.class.to_s.tableize.singularize %>

    <div id="ingredients_form">
      <% if object_with_formulas.formulas.first && !object_with_formulas.formulas.first.new_record? %>
        <%= render :partial => 'ingredients/formula', :collection => object_with_formulas.formulas, :locals => {:hash_name =>hash_name} %>
      <% end %>
    </div>

    <div id="ingredients_list">
      <% if ingredients %>
        <% label_title = Formula.human_attribute_name(:ingredient_ammount) %>
        <ul class="clean-ul">
          <% ingredients.each do |ingredient| %>
            <% json = ingredient.to_json(:only => [:id, :name]) %>
            <li><%= a_as_tag(ingredient.name, {:onclick => "\'IngredientsHelper.createIngredientForm(#{json}, $(\"ingredients_form\"), this.up(), \"#{label_title}\", \"#{hash_name}\")\'"})  %> </li>
          <% end %>
        </ul>
      <% else %>
        <p><%= t('messages.fill_in_some_ingredients') %> <%= link_to t('messages.here'), new_ingredient_path %> first</p>
      <% end %>
    </div>

    <div class="clear"></div>

  </div>

</div>

<% content_for :javascript, javascript_include_tag('ingredients') %>