<%content_for :title, t('titles.editing', :model => Ingredient.human_name) %>

<% form_for(@ingredient, :html => {:id => 'styled-form'}) do |f| %>
  <div id="field-set" class="client">
    <h3><span><%= t('titles.details', :model => Ingredient.human_name) %></span></h3>

    <p id="label">
      <%= f.label :name, Ingredient.human_attribute_name(:name) %>
      <%= f.text_field :name %>
    </p>

    <p id="description">
      <%= f.label :description, Ingredient.human_attribute_name(:description) %>
      <%= f.text_field :description %>
    </p>

    <p id="unit">
      <%= f.label :unit, Ingredient.human_attribute_name(:unit) %>
      <%= f.text_field :unit %>
    </p>
  </div>

  <div class="clear"></div>

  <p id="submit">
    <%= f.submit t('forms.update'), :class => 'big-button' %>
    <%= link_to t('forms.cancel'), ingredients_path %>
  </p>

<% end %>

<%= link_to t('forms.show'), @ingredient %> |
<%= link_to t('forms.back'), ingredients_path %>