<%content_for :title, "Editing Ingredient" %>

<% form_for(@ingredient, :html => {:id => 'styled-form'}) do |f| %>
  <div id="field-set" class="client">
    <h3><span>Ingredient details</span></h3>

    <%= f.error_messages %>

    <p id="label">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p id="description">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </p>

    <p id="unit">
      <%= f.label :unit %>
      <%= f.text_field :unit %>
    </p>
  </div>

  <div class="clear"></div>

  <p id="submit">
    <%= f.submit 'Update', :class => 'big-button' %>
    <%= link_to 'Cancel', ingredients_path %>
  </p>

<% end %>

<%= link_to 'Show', @ingredient %> |
<%= link_to 'Back', ingredients_path %>