<div class="client">
  <% new_or_existing = client.new_record? ? 'new' : 'existing' %>
  <% prefix = "order[new_client_attributes][]" %>

  <% field_set_tag "Client Details", :class => 'form-group' do %>

    <% fields_for prefix, client do |client_form| -%>
      <%= client_form.error_messages %>
  
      <p>
        <%= client_form.label :name %><br />
        <%= text_field_with_auto_complete :order,
          :client_name,
          {:size => 30},
          {:url => formatted_clients_path(:js),
          :method => :get,
          :with => "'search=' + element.value"}
      %>
      </p>

      <p>
        <%= client_form.label :last_name %><br />
        <%= client_form.text_field :last_name %>
      </p>

      <p>
        <%= client_form.label :address %><br />
        <%= client_form.text_field :address %>
      </p>

      <p>
        <%= client_form.label :email %><br />
        <%= client_form.text_field :email %>
      </p>
      <p>
        <%= link_to_function "clear" , "alert('Limpiar forma')" %>
      </p>
    <% end -%>
  <% end -%>
</div>
