<div id="field-set">
  <% new_or_existing = client.new_record? ? 'new' : 'existing' %>
  <% prefix = "order[new_client_attributes][]" %>
  <h3><span>Client details</span></h3>

  <% fields_for prefix, client do |client_form| -%>
    <p>
      <%= client_form.label :id_number %>
      <%= client_form.text_field :id_number %>
    </p>

    <p>
      <%= client_form.label :name %>
      <%= text_field_with_auto_complete :order,
        :client_name,
        {:size => 30, :onload => "this.value = $('order_new_client_attributes__name').value"},
        {:url => formatted_clients_path(:js),
        :method => :get,
        :with => "'search=' + element.value",
        :after_update_element => "function(element, li){updateClientForm(element, li)}"
      }
    %>
    </p>

    <p>
      <%= client_form.label :last_name %>
      <%= client_form.text_field :last_name %>
    </p>

    <p>
      <%= client_form.label :address %>
      <%= client_form.text_field :address %>
    </p>

    <p>
      <%= client_form.label :email %>
      <%= client_form.text_field :email %>
    </p>

    <div style="display: none">
      <%= client_form.text_field :name %>
    </div>
    <%= clear_form_link('client', ['input']) %>
  <% end -%>
</div>