<div class="product-presentation">
  <% @order.product_presentations.each do |product_presentation| %>
    <% new_or_existing = product_presentation.new_record? ? 'new' : 'existing' %>
    <% prefix = "order[#{new_or_existing}_product_attributes][]" %>

    <% fields_for prefix, product_presentation do |product_form| -%>
      <%= product_form.error_messages %>

      <ul class="product-information">
        <li><%= text_field :order_product_presentation, :quantity %></li>
        <li><%= product_form.text_field :name %></li>
        <li><%= product_form.text_field :description %></li>
        <li><%= product_form.text_field :unit_price %></li>
        <li><%= link_to_function "remove" , "$(this).up('.product-presentation').remove()" %></li>
      </ul>

    <% end -%>
  <% end -%>
</div>