<%content_for :title, t('titles.editing', :model => Order.human_name) %>

<% form_for(@order, :html => {:id => 'styled-form'}) do |f| %>

  <%= render :partial => 'orders/client_form', :locals =>  { :client => @order.client }%>

  <div id="content-wrapper">

    <%= render :partial => 'orders/form', :locals =>  { :form => f }%>

    <div id="footer">
      <%= f.submit t('forms.update'), :class => 'big-button' %>
      <%= link_to t('forms.cancel'), orders_path %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  js = <%= @product_presentations.inject({}) { |sum, pp| sum[pp.id] = {:description => pp.description, :unit_price => pp.unit_price, :name => pp.name, :id => pp.id} ; sum}.to_json  %>;
  _(function() {
    _("#order_registration_date").datepicker({
      changeMonth: true,
      changeYear: true
    });
    _("#ui-datepicker-div").hide();
  });
</script>

<% content_for :javascript, javascript_include_tag("clients") -%>
<% content_for :javascript, javascript_include_tag("orders") -%>
<% content_for :javascript, javascript_include_tag("jquery-ui-1.8rc3.custom.min") -%>
<% content_for :head, stylesheet_link_tag('jquery-ui-1.8rc3.custom') %>