<%content_for :title, "New Order ##{@order.order_number}" %>

<% form_for(@order, :html => {:id => 'styled-form'}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'orders/client_form', :locals =>  { :client => @order.client }%>

  <div id="content-wrapper">

    <div id="header">
      <%= f.label :status %>
      <%= f.text_field :status %>
      <%= f.label :registration_date %>
      <%= f.calendar_date_select :registration_date, :popup => :force%>
    </div>

    <div>
      <span class="flow-rigth">
        <%= round_button('add', "add another product",{:onclick => "addRowToProductsTable(\"products\", \"total_row\")"}) %>
      </span>
      <div class="clear"></div>
      <table id="products" class="default-table">
        <tbody>
          <tr>
            <th>Quantity</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Total</th>
            <th></th>
          </tr>
          <%= render :partial => 'orders/product_presentation_form' %>
          <tr id="total_row">
            <td class="item"><div><%= f.label :ammount, "Order Total" %></div></td>
            <td colspan="3" class="item three-item"><%= text_field "ammount", "in_words", :id => 'grant-total-words', :class => 'big-input'%></td>
            <td colspan="2" class="item"><%= f.text_field :ammount, :class => 'grant-total li-input'%></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="footer">
      <%= f.submit 'Create', :class => 'big-button' %>
      <%= link_to 'Cancel', orders_path %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  js = <%= @product_presentations.inject({}) { |sum, pp| sum[pp.id] = {:description => pp.description, :unit_price => pp.unit_price} ; sum}.to_json  %>;
</script>

<% content_for :javascript, javascript_include_tag("clients") -%>
<% content_for :javascript, javascript_include_tag("orders") -%>