<h1>New order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

  <div id="client">
    <%= render :partial => 'orders/client_form', :locals =>  { :client => @order.client }%>
  </div>

  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :registration_date %><br />
    <%= f.calendar_date_select :registration_date, :popup => :force%>
  </p>

  <div id="products">
    <ul class="product-information">
      <li><div>Quantity</div></li>
      <li><div>Name</div></li>
      <li><div>Description</div></li>
      <li><div>Unit Price</div></li>
    </ul>
    <div class="clear"></div>
    <%= render :partial => 'orders/product_presentation_form' %>
  </div>
  <p>
    <%= add_product_link "Add another product" %>
  </p>

  <p>
    <%= f.label :ammount %><br />
    <%= f.text_field :ammount %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>
<% content_for :javascript, javascript_include_tag("clients") -%>

<script type="text/javascript">
  js = <%= @product_presentations.to_json(:only => [:id, :description, :unit_price]) %>;

  function search(product_id){
    product = js.find(
    function(x){
      return x.id == product_id
    });
    
    $('product_presentation_description').setValue(product.description);
    $('order_new_order_product_presentations_attributes__unit_sold_price').setValue(product.unit_price);
  }
</script>

