<%content_for :title, "New Order ##{@order.order_number}" %>

<% form_for(@order, :html => {:id => 'styled-form'}) do |f| %>
  <%= error_messages_for 'order', :header_message => "Please Try Again!", :message => "We had some problems trying to save the order:" %>

  <%= render :partial => 'orders/client_form', :locals =>  { :client => @order.client }%>

  <div id="content-wrapper">

    <div id="header">
      <span class="flow-left">
        <%= f.label :status %>
        <%= f.select :status, Order.STATUSES.map {|status| [status, status] } %>
      </span>
      <span class="flow-rigth">
        <%= f.label :registration_date %>
        <%= f.text_field :registration_date, :value => @order.registration_date.strftime("%m/%d/%Y") %>
      </span>
      <div class="clear"></div>
    </div>

    <div>
      <span class="flow-rigth">
        <%= round_button('add', "add another product",{:onclick => "addRowToProductsTable(\"products\", \"total_row\")"}) %>
      </span>
      <div class="clear"></div>
      <table id="products" class="default-table">
        <tbody>
          <tr>
            <th>Quantity</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Total</th>
            <th></th>
          </tr>
          <%= render :partial => 'orders/product_presentation_form' %>
          <tr id="total_row">
            <td class="item"><div><%= f.label :ammount, "Order Total" %></div></td>
            <td colspan="3" class="item three-item"><%= text_field "ammount", "in_words", :id => 'grant-total-words', :class => 'big-input'%></td>
            <td colspan="2" class="item"><%= f.text_field :ammount, :class => 'grant-total li-input'%></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="footer">
      <%= f.submit 'Create', :class => 'big-button' %>
      <%= link_to 'Cancel', orders_path %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  js = <%= @product_presentations.inject({}) { |sum, pp| sum[pp.id] = {:description => pp.description, :unit_price => pp.unit_price, :name => pp.name, :id => pp.id} ; sum}.to_json  %>;
  _(function() {
    _("#order_registration_date").datepicker({
      changeMonth: true,
      changeYear: true
    });
    _("#ui-datepicker-div").hide();
  });
</script>

<% content_for :javascript, javascript_include_tag("clients") -%>
<% content_for :javascript, javascript_include_tag("orders") -%>
<% content_for :javascript, javascript_include_tag("jquery-ui-1.8rc3.custom.min") -%>
<% content_for :head, stylesheet_link_tag('jquery-ui-1.8rc3.custom') %>