<%content_for :title, t('titles.list', :model => Order.human_name) %>

<table class="listing">
  <tbody>
    <tr>
      <th><%= Order.human_attribute_name(:status) %></th>
      <th><%= Order.human_attribute_name(:registration_date) %></th>
      <th><%= Order.human_attribute_name(:expiration_date) %></th>
      <th><%= Order.human_attribute_name(:ammount) %></th>
	  <th><%= t('titles.actions') %></th>
    </tr>
    <% @orders.each do |order| %>
      <tr class="<%= cycle('odd','even') %>">
        <td><%=h order.status %></td>
        <td><%=l order.registration_date, :format => :default %></td>
        <td><%=l order.expiration_date, :format => :default  %></td>
        <td><%= number_to_currency(order.ammount) %></td>
        <td><%= link_to t('forms.show'), order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @orders %>