<% content_for :title, t('titles.order_number', :model => Order.human_name, :value => @order.order_number.to_s) -%>
<div class="order-show">
	
	<table class="order">
    <tr>
      <th colspan="3"><%= Order.human_attribute_name(:order_number) %></th>
      <td><%=h @order.order_number %></td>
    </tr>
    <tr>
      <th><%= Order.human_attribute_name(:registration_date) %></th>
      <td><%=h @order.registration_date.strftime("%m/%d/%Y") %></td>
      <th><%= Order.human_attribute_name(:expiration_date) %></th>
      <td><%=h @order.expiration_date.strftime("%m/%d/%Y") %></td>
    </tr>
  </table>
  
	<br />
        
	<table class="order">
    <tr>
      <th colspan="2"><%= t('titles.details', :model => Client.human_name) %></th>
    </tr>
    <tr>
      <th><%= Client.human_attribute_name(:id_number) %></th>
      <td><%=h @order.client.id_number %></td>
    </tr>
    <tr>
      <th><%= Client.human_attribute_name(:name) %></th>
      <td><%=h @order.client.full_name %></td>
    </tr>
    <tr>
      <th><%= Client.human_attribute_name(:address) %></th>
      <td><%=h @order.client.address %></td>
    </tr>
    <tr>
      <th><%= Client.human_attribute_name(:email) %></th>
      <td><%=h @order.client.email %></td>
    </tr>
  </table>
	
	<h1><%=h t('titles.owns_to') %></h1>
	
	<table class="order">
    <tr>
      <th><%= Company.human_attribute_name(:owner_name) %></th>
      <td colspan="3"><%= h @company.owner_name %></td>
    </tr>
    <tr>
      <th><%= Company.human_attribute_name(:account_number) %></th>
      <td colspan="3"><%= h @company.account_number %></td>
    </tr>
    <tr>
      <th><%= Company.human_attribute_name(:address) %></th>
      <td><%= h @company.address %></td>
      <th><%= Company.human_attribute_name(:phone) %></th>
      <td><%= h @company.phone %></td>
    </tr>
    <tr>
      <th><%= Company.human_attribute_name(:id_number) %></th>
      <td><%= h @company.id_number %></td>
    </tr>
    <tr>
      <th><%= Company.human_attribute_name(:city) %></th>
      <td><%= h @company.city %></td>
    </tr>
  </table>
	
	<br>

  <table class="order">
    <tbody>
      <tr>
        <th><%= OrderProductPresentation.human_attribute_name(:quantity) %></th>
        <th><%= ProductPresentation.human_attribute_name(:name) %></th>
        <th><%= ProductPresentation.human_attribute_name(:unit_price) %></th>
        <th><%= Order.human_attribute_name(:ammount) %></th>
      </tr>
      <% @order.order_product_presentations.each do |product| %>
        <tr>
          <td><%=h product.quantity %></td>
          <td><%=h product.product_name %></td>
          <td><%=h product.unit_sold_price %></td>
          <td><%=h product.total_sold %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3"><%= t('titles.sub_total') %></td>
        <td><%=h @order.ammount %></td>
      </tr>
      <tr>
        <td colspan="3"><%= t('titles.discount') %></td>
        <td><%= "Aun no esta hecho"  %></td>
      </tr>
      <tr>
        <td colspan="3"><%= t('titles.taxes') %></td>
        <td><%= "Aun no esta hecho"  %></td>
      </tr>
      <tr>
        <td colspan="3"><%= t('titles.total') %></td>
        <td><%=h @order.ammount %></td>
      </tr>
      <tr>
        <td><%= Order.human_attribute_name(:ammount) %></td>
        <td colspan="4"><%= @order.ammount.to_words%> </td>
      </tr>
    </tbody>
  </table>

</div>


<%= link_to t('forms.edit'), edit_order_path(@order) %> |
<%= link_to t('forms.back'), orders_path %>