<% content_for :title, t('titles.editing', :model => ProductPresentation.human_name) %>

<% form_for(@product_presentation) do |f| %>

  <div id="content-wrapper">

    <% content_for :tab_link, tab_link(t('navigation.ingredients'))-%>
    <% content_for :tab_body do %>
      <% tabbed_body t('navigation.ingredients'), true do %>
        <%= render(:partial => 'ingredients/add_ingredients', :locals => {:object_with_formulas => @product_presentation, :ingredients => @ingredients}) %>
      <% end -%>
    <% end -%>

    <%= render :partial => 'shared/tabbed_panel' -%>

  </div>

  <div id="footer">
    <p>
      <%= f.submit t('forms.update') %>
    </p>
  </div>

<% end %>

<%= link_to t('forms.show'), @product_presentation %> |
<%= link_to t('forms.back'), product_presentations_path %>

<% content_for :javascript do -%>
  <script type="text/javascript" language="javascript" charset="utf-8">
    //<![CDATA[
    _(function () {
      var tabContainers = _('div.tabs > div.tab');

      _('div.tabs ul.tabNavigation a').click(function () {
        tabContainers.hide().filter(this.hash).show();

        _('div.tabs ul.tabNavigation a').removeClass('selected');
        _(this).addClass('selected');

        return false;
      }).filter(':first').click();
    });
    //]]>
  </script>
<% end -%>