<% content_for :title, t('titles.editing', :model => ProductPresentation.human_name) %>

<% form_for(@product_presentation) do |f| %>
  <%= f.error_messages %>

  <p>
    <label>Product Parent</label>
    <select>
      <option value="">Select Product</option>
      <%= options_for_select(Product.all.map {|p| [truncate(p.name, 20), p.id]}) %>
    </select>
  </p>
  <p>
    <%= f.label ProductPresentation.human_attribute_name(:name) %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label ProductPresentation.human_attribute_name(:description) %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label ProductPresentation.human_attribute_name(:unit_price) %><br />
    <%= f.text_field :unit_price %>
  </p>
  <p>
    <%= f.submit t('forms.update') %>
  </p>
<% end %>

<%= link_to t('forms.show'), @product_presentation %> |
<%= link_to t('forms.back'), product_presentations_path %>