<% content_for :title, "Product Presentations" %>

<table class="listing">
  <tbody>
    <tr>
      <th>Product</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price per Unit</th>
    </tr>

    <% @product_presentations.each do |product_presentation| %>
      <tr class="<%= cycle('odd','even') %>">
        <td><%=h product_presentation.product_id %></td>
        <td><%=h product_presentation.name %></td>
        <td><%=h product_presentation.description %></td>
        <td><%=h product_presentation.unit_price %></td>
        <td><%= link_to 'Show', product_presentation %></td>
        <td><%= link_to 'Destroy', product_presentation, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>