<% content_for :title, t('titles.list', :model => ProductPresentation.human_name) %>

<table class="listing">
  <tbody>
    <tr>
      <th>Product</th>
      <th><%= ProductPresentation.human_attribute_name(:name) %></th>
      <th><%= ProductPresentation.human_attribute_name(:description) %></th>
      <th><%= ProductPresentation.human_attribute_name(:unit_price) %></th>
    </tr>

    <% @product_presentations.each do |product_presentation| %>
      <tr class="<%= cycle('odd','even') %>">
        <td><%=h product_presentation.product_id %></td>
        <td><%=h product_presentation.name %></td>
        <td><%=h product_presentation.description %></td>
        <td><%=h number_to_currency(product_presentation.unit_price) %></td>
        <td><%= link_to t('forms.edit'), edit_product_presentation_path(product_presentation) %></td>
        <td><%= link_to t('forms.show'), product_presentation %></td>
        <td><%= link_to t('forms.delete'), product_presentation, :confirm => t('messages.confirmation'), :method => :delete %></td>
        <td><%= link_to t('forms.add_ingredient'), product_presentation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @product_presentations %>