<%content_for :title, t('titles.showing', :model => ProductPresentation.human_name) %>
<p>
  <b>Product parent:</b>
  <%=h @product_presentation.product_id %>
</p>

<p>
  <b><%= ProductPresentation.human_attribute_name(:name) %></b>
  <%=h @product_presentation.name %>
</p>

<p>
  <b><%= ProductPresentation.human_attribute_name(:description) %></b>
  <%=h @product_presentation.description %>
</p>

<p>
  <b><%= ProductPresentation.human_attribute_name(:unit_price) %></b>
  <%= number_to_currency(@product_presentation.unit_price) %>
</p>



<%= link_to t('forms.edit'), edit_product_presentation_path(@product_presentation) %> |
<%= link_to t('forms.back'), product_presentations_path %>