<tr class="product-presentation">
  <% new_or_existing = product_presentation.new_record? ? 'new' : 'existing' %>
  <% prefix = "product[#{new_or_existing}_product_presentation_attributes][]" %>
  <% fields_for prefix, product_presentation do |f| -%>

      <td class="item"><%= f.text_field :name %></td>
      <td class="item"><%= f.text_field :description %></td>
      <td class="item"><%= f.text_field :unit_price %></td>
      <td><%= link_to("Add ingredients", "#")  %> <%= round_button "delete" ,"", {:onclick => "$(this).up(\".product-presentation\").remove()"} %></td>

  <% end -%>
</tr>
