<h1>Edit product</h1>

<% form_for(@product, :html => {:id => 'styled-form'}) do |f| %>
  <%= f.error_messages %>

  <div id="field-set">
    <h3><span>Product details</span></h3>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </p>
  </div>

  <div id="content-wrapper">

    <% content = render :partial => 'products/ingredients' %>
    <%= render :partial => 'shared/slide_in_panel', :locals => {:button_text => "Product Ingredients", :panel_content => content} %>

    <div id="products">
      <span class="flow-rigth">
        <%= round_button('add', "add another product",{:onclick => "TableHelper.addRowToProductsTable(\"product-presentations\", \"header_row\")"}) %>
      </span>

      <div class="clear"></div>

      <table id="product-presentations" class="default-table">
        <tbody>
          <tr id="header_row">
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th></th>
          </tr>
          <%= render :partial => 'products/product_presentation', :collection => @product.product_presentations %>
        </tbody>
      </table>

    </div>


    <div id="footer">
      <%= f.submit 'Update', :class => 'big-button' %>
      <%= link_to 'Cancel', products_path %>
    </div>

  </div>

<% end %>

<% content_for :javascript, javascript_include_tag("products") -%>