<h1>Editing product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <fieldset>
    <legend>Product presentation</legend>
    <div id="product-presentations">
      <%= render :partial => 'products/product_presentation', :collection => @product.product_presentations %>
    </div>
    <p>
      <%= add_product_presentation_link "Add a product presentation" %>
    </p>
  </fieldset>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>