<% content_for :title, t('titles.list', :model => Product.human_name) %>

<table class="listing">
  <tbody>
    <tr>
      <th><%= Product.human_attribute_name(:name) %></th>
      <th><%= Product.human_attribute_name(:Description) %></th>
      <th colspan="4"></th>
    </tr>

    <% @products.each do |product| %>
      <tr class="<%= cycle('odd','even') %>">
        <td><%=h product.name %></td>
        <td><%=h product.description %></td>
        <td><%= link_to t('forms.show'), product %></td>
        <td><%= link_to t('forms.edit'), edit_product_path(product) %></td>
        <td><%= link_to t('forms.delete'), product, :confirm => t('messages.confirmation'), :method => :delete %></td>
        <td><%= link_to t('forms.add_ingredient'), add_ingredients_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @products %>