<% content_for :title, t('titles.new', :model => Product.human_name) %>

<% form_for(@product, :html => {:id => 'styled-form'}) do |f| %>

  <div id="field-set">
    <h3><span><%= t('titles.new', :model => Product.human_name)%></span></h3>
    <p>
      <%= f.label :name, Product.human_attribute_name(:name) %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description, Product.human_attribute_name(:description) %><br />
      <%= f.text_field :description %>
    </p>
  </div>

  <div id="content-wrapper">

    <% content = render :partial => 'products/ingredients' %>
    <%= render :partial => 'shared/slide_in_panel', :locals => {:button_text => "Product Ingredients", :panel_content => content} %>

    <h2><%= t('titles.product_presentations') %></h2>

    <div id="products">
      <span class="flow-rigth">
        <%= round_button('add', "add another product presentation",{:onclick => "TableHelper.addRowToProductsTable(\"product-presentations\", \"header_row\")"}) %>
      </span>
      
      <div class="clear"></div>

      <table id="product-presentations" class="default-table">
        <tbody>
          <tr id="header_row">
            <th><%= ProductPresentation.human_attribute_name(:name) %></th>
            <th><%= ProductPresentation.human_attribute_name(:description) %></th>
            <th><%= ProductPresentation.human_attribute_name(:unit_price) %></th>
            <th></th>
          </tr>
          <%= render :partial => 'products/product_presentation', :collection => @product.product_presentations %>
        </tbody>
      </table>

    </div>

    <div id="footer">
      <%= f.submit t('forms.create'), :class => 'big-button' %>
      <%= link_to t('forms.cancel'), products_path %>
    </div>

  </div>

<% end %>

<% content_for :javascript, javascript_include_tag("products") -%>