<% content_for :title, t('titles.new', :model => Product.human_name) %>

<% form_for(@product, :html => {:id => 'styled-form'}) do |f| %>

  <div id="field-set">
    
    <%= render :partial => 'products/form_product_information', :locals => {:form => f} -%>

  </div>

  <div id="content-wrapper">

    <%= render :partial => 'products/form_products_and_ingredients', :locals => {:product => @product, :ingredients => @ingredients} -%>

    <div id="footer">
      <%= f.submit t('forms.create'), :class => 'big-button' %>
      <%= link_to t('forms.cancel'), products_path %>
    </div>

  </div>

<% end %>

<% content_for :javascript do -%>
  <%= javascript_include_tag "products" %>

  <script type="text/javascript" language="javascript" charset="utf-8">
    //<![CDATA[
    _(function () {
      var tabContainers = _('div.tabs > div.tab');

      _('div.tabs ul.tabNavigation a').click(function () {
        tabContainers.hide().filter(this.hash).show();

        _('div.tabs ul.tabNavigation a').removeClass('selected');
        _(this).addClass('selected');

        return false;
      }).filter(':first').click();
    });
    //]]>
  </script>
<% end -%>
