<h1>Add product</h1>

<% form_for(@product, :html => {:id => 'styled-form'}) do |f| %>
  <%= f.error_messages %>

  <div id="field-set">
    <h3><span>Product details</span></h3>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </p>
  </div>

  <% content = "asdasdadasdas" %>
  <%= render :partial => 'shared/slide_in_panel', :locals => {:button_text => 'TEXTO BOTON', :panel_content => content} %>

  <div style="float: left; width: 300px;">
    <div id="panel" style="display: none">
      <div id="field-set" style="z-index: -1">
        <h3><span>Presentations details</span></h3>

        <div id="product-presentations">
          <%= render :partial => 'products/product_presentation', :collection => @product.product_presentations %>
        </div>
        <p>
          <%= add_product_presentation_link "Add a product presentation" %>
        </p>
      </div>
    </div>
    <a href="#" onclick="animate(this.previous('div')); return false;">test</a>
  </div>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<script type="text/javascript">
  function animate(div){
    _(div).slideToggle("slow");
  }
</script>

<%= link_to 'Back', products_path %>