<% content_for :title, "Add Product" %>

<% form_for(@product, :html => {:id => 'styled-form'}) do |f| %>
  <%= f.error_messages %>

  <div id="field-set">
    <h3><span>Product details</span></h3>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </p>
  </div>

  <div id="content-wrapper">

    <% content = render :partial => 'products/ingredients' %>

    <%= render :partial => 'shared/slide_in_panel', :locals => {:button_text => "Product Ingredients", :panel_content => content} %>

    <div id="products">
      <div id="product-presentations">
        <%= render :partial => 'products/product_presentation', :collection => @product.product_presentations %>
      </div>

      <%= add_product_presentation_link "Add a product presentation" %>
    </div>

    <!--
    <div id="ingredients">
      <div id="formulas">
        <%#= render :partial => 'products/formula', :collection => @product.formulas %>
      </div>

      <%#= add_formula_link "Add another ingredient" %>
    </div>
    -->

    <div id="footer">
      <%= f.submit 'Create', :class => 'big-button' %>
      <%= link_to 'Cancel', products_path %>
    </div>
    
  </div>

<% end %>

<% content_for :javascript, javascript_include_tag("products") -%>