<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>contable</title>
    <%= stylesheet_link_tag 'screen', :media => 'all', :cache => true %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag :defaults %>
    <%= calendar_date_select_includes "plain" %>
  </head>
  <body class="<%= body_class %>">
    <%= render :partial => 'shared/flashes' -%>
    <%= render_navigation %>
    <%= yield %>
    <%= render :partial => 'shared/javascript' %>
  </body>
</html>
